<!-- <p>skills works!</p> -->
<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Angular</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">React</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Python</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Cyber Security Analyst</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Devops Engineer</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Data Analyst</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary">
              <span class="progress-badge">Electrical And Telecommunications Engineer</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
