<!-- <p>experience works!</p> -->
<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-experience-header">
            <p>Jan 2024 - date</p>
            <div class="h5">E&M Technology House Limited</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5">Software Developer</div>
            <p>
              At <strong>E&M Technology House</strong>, I played a key role in
              developing a fully functional SACCO banking solution tailored for
              SACCOs in Kenya. The project involved creating a secure and
              efficient platform using
              <strong>Angular, Spring Boot, and RESTful APIs</strong>. The
              solution integrated various financial services, streamlined member
              management, and provided secure transaction processes. My work
              also included implementing robust security measures and
              collaborating with cross-functional teams to customize the system
              for different SACCOs, ensuring it met specific operational needs.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-experience-header">
            <p>Aug 2023 - Oct 2023</p>
            <div class="h5">
              Ministry Of Works(State Department of Transport)
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="h5">Intern Electrical Engineer</div>
          <p>
            During my internship at the
            <strong
              >Ministry of Works under the State Department of Public
              Transport</strong
            >, I was involved in designing, maintaining, and monitoring
            electrical systems. I utilized <strong>AutoCAD</strong> to create
            detailed electrical designs, ensuring compliance with industry
            standards and safety regulations. I also implemented electrical
            systems on-site, conducted diagnostics, and performed maintenance to
            ensure optimal performance. My responsibilities included monitoring
            system operations to identify potential issues and ensuring all
            installations adhered to quality standards.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
