<!-- <p>socials works!</p> -->
<footer class="footer">
    <div class="container text-center">
      
      <a class="cc-instagram btn btn-link" href="https://www.instagram.com/engineer_mugambi?igsh=anZ2YTJzbmNyNzE4&utm_source=qr" target="_blank">
        <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-twitter btn btn-link " href="https://x.com/Andrewmugambi12?t=I6lprtbQ7eZuSQhk9MRBfw&s=08" target="_blank">
        <i class="fa fa-twitter fa-2x " aria-hidden="true"></i>
      </a>
      
    </div>
    <div class="text-center text-muted">
      <p>&copy; All rights reserved.
      </p>
    </div>
  </footer>
